@import '../../../public/assets/scss/function.scss';

.container-logo {
    top: 0;
    left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 2px;

    a {
        text-decoration: none;
    }
    h1 {
        color: var(--white-1);
        font-size: $size + 3;
        font-family: 'poppins';

        span {
            color: var(--purple-1);
        }
    }
}
